footer {
  background: $grey;
  margin: 30px 150px;
  min-height: 80vh;
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.082);
    left: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .left-part form {
    display: grid;
    margin: 20px 40px;

    label {
      text-transform: uppercase;
      font-size: 0.7rem;
      letter-spacing: 1.8px;
      font-weight: 700;
      color: rgb(91, 91, 91);
      margin: 20px 0;
    }

    #name,
    #email {
      border-radius: 5px;
      border: 1px solid rgb(205, 203, 203);
      height: 40px;
      background: none;

      &:focus {
        outline: 1px solid rgb(205, 203, 203);
      }
    }

    textarea {
      border-radius: 5px;
      border: 1px solid rgb(205, 203, 203);
      resize: none;
      background: none;
      height: 150px;

      &:focus {
        outline: 1px solid rgb(205, 203, 203);
      }
    }

    #btn-submit {
      padding: 10px;
      margin: 40px 0;
      background: none;
      border: 2px solid rgb(85, 85, 85);
      width: 150px;
      text-transform: uppercase;
      font-size: 0.7rem;
      letter-spacing: 1.8px;
      font-weight: 700;
      color: rgb(91, 91, 91);
      cursor: pointer;

      &:hover {
        background: rgb(85, 85, 85);
        color: $white;
        transition: 0.3s;
      }
    }
  }

  .right-part {
    display: grid;

    .address {
      display: flex;
      justify-content: space-around;
      align-items: center;
      line-height: 2;
      position: relative;

      h6 {
        text-transform: uppercase;
        letter-spacing: 1.8px;
        font-weight: 700;
        color: rgb(91, 91, 91);
      }

      p {
        color: rgb(158, 156, 156);
        font-size: 0.8rem;
        width: 200px;
      }

      &::after {
        position: absolute;
        content: "";
        height: 1px;
        background: rgba(0, 0, 0, 0.082);
        bottom: 0;
        width: 100%;
      }
    }

    .phone {
      display: flex;
      justify-content: space-around;
      align-items: center;
      line-height: 2;
      position: relative;

      h6 {
        text-transform: uppercase;
        letter-spacing: 1.8px;
        font-weight: 700;
        color: rgb(91, 91, 91);
      }

      p {
        color: rgb(158, 156, 156);
        font-size: 0.8rem;
        width: 200px;
      }

      &::after {
        position: absolute;
        content: "";
        height: 1px;
        background: rgba(0, 0, 0, 0.082);
        bottom: 0;
        width: 100%;
      }
    }

    .email {
      display: flex;
      justify-content: space-around;
      align-items: center;
      line-height: 2;
      position: relative;

      h6 {
        text-transform: uppercase;
        letter-spacing: 1.8px;
        font-weight: 700;
        color: rgb(91, 91, 91);
      }

      p {
        color: rgb(158, 156, 156);
        font-size: 0.8rem;
        width: 200px;
      }

      &::after {
        position: absolute;
        content: "";
        height: 1px;
        background: rgba(0, 0, 0, 0.082);
        bottom: 0;
        width: 100%;
      }
    }

    .social {
      display: flex;
      justify-content: space-around;
      align-items: center;
      line-height: 2;
      position: relative;

      h6 {
        text-transform: uppercase;
        letter-spacing: 1.8px;
        font-weight: 700;
        color: rgb(91, 91, 91);
      }
      ul {
        display: flex;
        gap: 40px;
        font-size: 0.9rem;
      }

      li {
        cursor: pointer;
      }

      li:nth-child(1) {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%) translateX(760%);
          width: 30px;
          height: 30px;
          background: none;
          border-radius: 50%;
          border: 1px solid rgb(205, 203, 203);
        }
      }
      li:nth-child(2) {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%) translateX(923%);
          width: 30px;
          height: 30px;
          background: none;
          border-radius: 50%;
          border: 1px solid rgb(205, 203, 203);
        }
      }
      li:nth-child(3) {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%) translateX(1083%);
          width: 30px;
          height: 30px;
          background: none;
          border-radius: 50%;
          border: 1px solid rgb(205, 203, 203);
        }
      }
      li:nth-child(4) {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%) translateX(1250%);
          width: 30px;
          height: 30px;
          background: none;
          border-radius: 50%;
          border: 1px solid rgb(205, 203, 203);
        }
      }

      // *********** media queries ************

      @media screen and (max-width: 1029px) {
        li:nth-child(1) {
          &::after {
            transform: translateY(-50%) translateX(430%);
          }
        }
        li:nth-child(2) {
          &::after {
            transform: translateY(-50%) translateX(590%);
          }
        }
        li:nth-child(3) {
          &::after {
            transform: translateY(-50%) translateX(750%);
          }
        }
        li:nth-child(4) {
          &::after {
            transform: translateY(-50%) translateX(917%);
          }
        }
      }
    }
  }

  // ********** media queries **********

  @media screen and (max-width: 421px) {
    display: block;
    margin: 30px 20px;
    min-height: 100vh;

    &::after {
      display: none;
    }

    form {
      padding: 50px 0 10px;
    }

    .right-part {
      height: 50vh;

      .address {
        &::before {
          position: absolute;
          content: "";
          height: 1px;
          background: rgba(0, 0, 0, 0.082);
          width: 100%; 
          top: 0%;
        }
      }

      .social {
        li:nth-child(1) {
          &::after {
            transform: translateY(-50%) translateX(450%);
          }
        }
        li:nth-child(2) {
          &::after {
            transform: translateY(-50%) translateX(613%);
          }
        }
        li:nth-child(3) {
          &::after {
            transform: translateY(-50%) translateX(772%);
          }
        }
        li:nth-child(4) {
          &::after {
            transform: translateY(-50%) translateX(939%);
          }
        }
      }
    }
  }
}
